Options -Indexes

RewriteEngine on

RewriteRule ^home/?$ index.php?page=home [L]
RewriteRule ^tests/?$ index.php?page=tests [QSA,L]
RewriteRule ^groups/?$ index.php?page=groups [L]
RewriteRule ^add_task/?$ add-task.php [L]
RewriteRule ^login/?$ login.php [QSA,L]
RewriteRule ^logout/?$ logout.php [L]
RewriteRule ^view_test/?$ view-test.php [QSA,L]
RewriteRule ^check_test/?$ check-test.php [QSA,L]
RewriteRule ^evaluate/?$ evaluate.php [QSA,L]
RewriteRule ^pdf_renderer/?$ pdf-renderer.php [QSA,L]

ErrorDocument 404 http://edunet/404.php
ErrorDocument 403 http://edunet/403.php

