
.anim-slide-to-right{ animation-fill-mode: forwards; animation-name: 'slide-to-right'; animation-duration: 0.6s; transform-origin: left center; }

@keyframes slide-to-right{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.anim-slide-to-left{ animation-fill-mode: forwards; animation-name: 'slide-to-left'; animation-duration: 0.6s; transform-origin: left center; }

@keyframes slide-to-left{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}