/* ÁLTALÁNOS CLASSOK, SZABÁLYOK */
.clear{ clear: both; }
.clear:after{ display: table; content: ''; clear: both; }
.panel{ border: 1px solid var(--theme-grey); box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
.flex-wrap{ display: flex; flex-wrap: wrap; justify-content: space-between; }
.flex-row{ display: flex; width: 100%; }
pre{ white-space: pre-wrap; text-align: justify; }
button a{ text-decoration: none; color: #fff; display: block; }

/* MODALOK */
.page-overlay{ z-index: 999; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background: rgba(0, 0, 0, 0.2); display: flex; justify-content: center; align-items: center; }
.modal{ background: #fff; border: 1px solid var(--theme-grey); box-shadow: 2px 2px 36px rgba(0, 0, 0, 0.4); border-radius: 6px; }
.modal header{ padding: 10px; margin: 0px 10px; border-bottom: 1px solid var(--theme-grey); position: relative;  }
.modal header h3{ font-weight: 600; color: var(--theme-grey-dark); }
.modal header i{ position: absolute; right: 6px; top: 11px; cursor: pointer; padding: 4px; }
.modal header i:before{ color: var(--theme-grey-dark); }
.modal .section-switcher{ padding: 15px 30px; }
.modal .section-switcher button{ background: transparent; padding: 6px 0px; margin-right: 16px; text-align: left; border-bottom: 2px solid transparent; }
.modal .section-switcher button.active-section{ border-bottom: 2px solid var(--theme-grey-dark); }
.modal .modal-body{ height: calc(100% - 64px); overflow-y: scroll; overflow-x: hidden; margin: 10px; }



/* TÁBLÁZATOK */
table.main-table{ background: #fff; width: 100%; border-collapse: collapse; }
.main-table thead{ background: var(--theme-color-1); }
.main-table thead td{ padding: 12px 20px; }
.main-table thead i:before{ color: #fff; font-size: 20px; }
.main-table td{ padding: 20px; text-align: center; color: #444; }
.main-table tr:nth-child(even){ background: #f3f3f3; }
.main-table tr.is-opened{ background: #b9ddd1 }
.main-table p{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.main-table .tool-cell{ position: relative; }
.main-table .tool-cell i{ padding: 3px; cursor: pointer; display: inline-block }
.main-table .table-menu{ position: absolute; top: calc(50% + 8px); right: calc(50% + 8px); width: 300px; background: #fff; z-index: 888; display: none; }
.main-table .table-menu li{ padding: 10px 25px; font-size: 14px; list-style: none; text-align: left; font-family: Arial, Helvetica, sans-serif; }
.main-table .table-menu li:hover{ cursor: pointer; background: var(--theme-color-2); color: #fff; }
.main-table .table-menu li a{ font-family: Arial, Helvetica, sans-serif; color: #000; text-decoration: none; display: block; }
.main-table .table-menu li:hover a{ color: #fff; }
.main-table .table-menu i:before{ font-size: 18px; margin-right: 6px; width: 20px; text-align: center; }


/* INPUTOK */
li.input-container{ list-style: none; display: flex; padding: 20px; }
.input-container label{ color: var(--theme-grey-dark); font-weight: 400; width: 200px; }
.input-container input,
.input-container textarea,
.input-container select{ border: 1px solid var(--theme-grey); flex: 1; border-radius: 4px; font-size: 14px; color: #444; box-shadow: none; transition: all 0.3s; }
.input-container input:focus,
.input-container textarea:focus,
.input-container select:focus{ box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
.input-container input[type="text"],
.input-container input[type="number"]{ padding: 8px; }
.input-container input[type="password"]{ padding: 8px; }
.input-container input[type="email"]{ padding: 8px; }
.input-container input[type="date"]{ cursor: pointer; padding: 8px; }
.input-container textarea{ height: 100px; padding: 8px; resize: none; }
.input-container select{ padding: 8px; -moz-appearance: none; appearance: none; cursor: pointer; }

/* keresés form */

/* CSOPORTBOXOK */
.group-box{ width: 370px; background: #fff; margin-bottom: 30px; align-self: flex-start  }
.group-box section{height: 210px; background-size: cover; background-position: center; background-repeat: no-repeat; position: relative; }
.group-box section .overlay{ position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.6); display: flex; align-items: center; justify-content: center; flex-direction: column; }
.group-box section h3{ color: #fff; }
.group-box section span{ color: #fff; }
.group-box .group-buttons{ display: flex; }
.group-box button{ flex: 1; padding: 15px; font-weight: 600; }
.group-box button:first-child{ color: #0282bf; background: #fff; }
.group-box button:first-child:hover{ background: #f6f6f6f6; }
.group-box button:nth-child(2){ color: #fff; }

/* FŐOLDAL BOXOK */
.home-box{ background: #fff; width: 100%; padding: 20px; margin-bottom: 30px; }
.home-box header h4{ font-weight: 600; color: var(--theme-grey-dark); margin-bottom: 6px; }
.home-box header h4:before{ font-size: 20px; margin-right: 6px; }
.home-box small{ margin: 15px 0px; display: block; }

/* naptár, értesítések */
#event-calendar{ width: 100%; display: flex; flex-wrap: wrap;  }
#event-calendar .day{ width: calc( 100% / 5 ); height: 70px; background: var(--theme-background); border: 3px #fff solid; padding: 8px; position: relative; }
#event-calendar .day span.month-name{ font-size: 14px; color: var(--theme-grey-dark); }
#event-calendar .day i{ position: absolute; top: 25px; right: 15px; color: var(--theme-grey-dark); padding: 5px;  }
#event-calendar .day i{ display: none; }
#event-calendar .day i:hover{ cursor: pointer; }
#event-calendar .day span.month-day{ font-size: 22px; font-weight: 600; color: var(--theme-grey-dark); }
#event-calendar .has-event{ background: #f4cb42; }
#event-calendar .has-event i{ display: block; }
#event-calendar .has-event span{ color: #fff !important; }
#event-calendar .day .panel{ width: 100%; position: absolute; left: 0px; top: 70px; background: #fff; z-index: 444; display: none; }
.day li.event{ list-style: none; padding: 15px 10px; border-bottom: 1px solid var(--theme-grey); }
.day li.event:last-child{ border-bottom: 0px; }
.day .event strong{ font-size: 16px; margin-bottom: 15px; display: block; }
.day .event p{ color: var(--theme-grey-dark); padding: 4px 0px; font-size: 15px; }
.day .event i{ position: initial !important; cursor: auto !important; display: inline !important; padding: 0px !important; margin-right: 5px; }

li.notification-list-item{ list-style: none; display: flex; border-bottom: 1px solid var(--theme-grey); position: relative; padding: 15px; }
.notification-date{ width: 60px; height: 60px; margin-right: 15px; padding: 8px; background: var(--theme-background); color: var(--theme-grey-dark); }
.notification-date p{ text-align: center; }
.notification-date-day{ font-size: 22px; font-weight: 700; }
.notification-date-month{ font-size: 14px; }
.notification-body{ position: relative; flex: 1; }
.notification-body i{ position: absolute; top: 0px; right: -2px; }
.notification-body p{ color: var(--theme-grey-dark); margin-top: 4px; font-size: 14px; }

/* frissen javított feladatlapok eredményei */
#result-box-container{ display: flex; justify-content: space-between; align-items: flex-start; }
.result-box{ width: 30%; background: var(--theme-background); padding: 15px; }
.result-box h2{ margin-bottom: 25px; text-align: center; }
.result-box li{ list-style: none; display: block; padding: 15px 20px; }
.result-box li span{ display: inline-block; width: 150px; }

/* üzenetek */
#read-message .msg-bubble{ width: 100%; padding: 5px 15px; }
#read-message .msg-bubble p{ padding: 8px; background: #e4e4e4; display: inline-block; font-size: 14px; max-width: 300px; border-radius: 3px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) }
#read-message .msg-own p{ background: #046796; color: #fff; float: right; }

#message-controls{ padding: 8px; width: 100%; border-top: 1px solid var(--theme-grey); display: flex; }
#message-controls textarea{ resize: none; flex: 1; height: 80px; margin-right: 8px; }
#message-controls button{ width: 100px; align-self: center; background: var(--theme-grey); padding: 8px; }

/* GOMBOK */
button:hover, input[type="submit"]{ cursor: pointer; }

/* EREDMÉNYJELZŐ IKONOK */
span.option-result-icon{ display: inline-block; width: 18px; height: 18px; margin: 0px 12px; vertical-align: middle; background-size: cover !important; background-repeat: no-repeat !important; }
span.wrong-icon{ background: url('../resources/images/icon-wrong.png'); }
span.correct-icon{ background: url('../resources/images/icon-correct.png'); }
span.missing-icon{ background: url('../resources/images/icon-missing.png'); }


/* FELADATLAP, FELADATOK */
body.test-body{ background: var(--theme-background); overflow: auto; }
.test-container{ width: 900px; margin: 35px auto; }
.test-container .task-box{ background: #fff; border-radius: 6px; margin-bottom: 25px; overflow: hidden; }
.task-box header{ background: #39a8b1; color: #fff; padding: 8px 16px; }
.task-box header h3:before{ margin-right: 8px; }
.task-box section{ padding: 25px; }

.task-question{ padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid var(--theme-grey); color: var(--theme-color-1); font-weight: 600; }
.task-text{ padding: 20px 40px 35px 40px; margin-bottom: 15px; border-bottom: 1px solid var(--theme-grey); position: relative; font-style: italic; color: var(--theme-grey-dark); line-height: 1.5em; } 
.task-text img{ position: absolute; left: 5px; top: -5px; width: 50px; opacity: 0.1; }
.task-image{ margin: 20px 0px 35px 0px; }
.task-image img{ border-radius: 6px; border: 2px solid var(--theme-color-1); width: 430px; }
table.options-table{ width: 100%; }
.options-table td{ padding: 6px 15px; }
.options-table .option-text{ position: relative; display: inline-block; padding-left: 10px; }
.options-table .option-text:before{ content: ''; position: absolute; top: 4px; left: -6px; display: inline-block; width: 12px; height: 12px; background: url('../resources/images/arrow_icon.png'); background-size: contain; background-repeat: no-repeat; }
strong.task-points{ font-size: 22px; margin-left: 6px; color: #fff; padding: 6px 10px; background: #354052; border-radius: 6px; letter-spacing: 6px; }
.options-table input, textarea{ border: 1px solid var(--theme-grey); border-radius: 4px; padding: 6px; }
.evaluate-inputs input, textarea{ border: 1px solid var(--theme-grey); border-radius: 4px; padding: 6px; }
.evaluate-inputs li{ list-style: none; }

.user-answer{ padding: 20px 40px 35px 40px; margin-bottom: 15px; border-bottom: 1px solid var(--theme-grey); }

.quote{ font-style: italic; color: var(--theme-grey-dark); line-height: 1.3em; position: relative; text-indent: 20px; }
.quote:before{ content: ''; display: inline-block; position: absolute; top: -15px; left: -15px; width: 30px; height: 30px; background: url('../resources/images/quote_icon.png'); background-size: contain; background-position: center; background-repeat: no-repeat; opacity: 0.2;  }

p.no-answer{ color: red; font-weight: 400; }
a.btn-download-file{ color: #fff; background: #354052; }

#student-selector{ width: 100%; display: flex; width: 900px; margin: 30px auto; overflow-x: scroll; }
#student-selector li{ list-style: none; padding: 10px; margin-left: 16px; width: 80px; height: 120px; background: #fff; border-radius: 4px; }
#student-selector a{ text-decoration: none; text-align: center; }
#student-selector img{ width: 50px; height: 50px; margin: 0px auto; display: block; border-radius: 25px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }
#student-selector strong{ font-size: 14px; display: block; text-align: center; color: var(--theme-grey-dark); margin-top: 8px; }

label.label-bold{ color: var(--theme-grey-dark); font-weight: 600; display: block; margin-bottom: 8px; }

/* fájlfeltöltés */
span.uploaded-file-name{ font-size: 14px; color: var(--theme-grey-dark); margin-left: 8px; display: inline-block; max-width: 150px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }



/* GOMBOK */
.btn-rounded{ color: #fff !important; padding: 10px; border-radius: 30px; font-weight: 600; border: none !important; }
.btn-rounded i:before{ font-size: 20px; margin-right: 8px; vertical-align: middle; }
.btn-rounded a{ color: #fff; text-decoration: none; }

.btn-wide{ color: #fff !important; width: 100%; padding: 10px;font-weight: 600; border: none !important; }

.btn-rect{ color: #fff; padding: 8px; border: none !important; border-radius: 3px; }

/* GOMBOK SZÍNEI */
.bg-1{ background: #39a8b1; }
.bg-1:hover{ background: #2a8891; }

.bg-2{ background: #0282bf; }
.bg-2:hover{ background: #046796; }

.bg-3{ background: #f4cb42; }
.bg-3:hover{ background: #d4ac29; }

.bg-5{ background: #354052; }
.bg-5:hover{ background: #30394a; }
