header.content-header{
    width: 100%;
    padding: 30px 40px;
    background: #fff;
    border-bottom: 1px solid var(--theme-grey);
}

header.content-header h2{
    font-weight: 600;
    display: inline-block;
}

section.content-body{
    width: 100%;
    height: calc(100vh - 151px);
    padding: 30px;
    overflow-y: scroll;
}


/* CSOPORTTAGOK FELVÉTELE - KERESÉSI TALÁLATOK */
form#add-group-member-form li{ list-style: none; }
ul.student-results li{ padding: 20px 15px; margin: 0px 20px; list-style: none; border-bottom: 1px solid var(--theme-grey); display: flex; }
ul.student-results h4{ font-weight: 600; color: var(--theme-grey-dark); margin-left: 6px; flex: 1; }
ul.student-results img{ width: 40px; height: 40px; }