@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&subset=latin-ext');

*{ padding: 0px; margin: 0px; outline: 0px; border: 0px; font-family: 'Montserrat', sans-serif; box-sizing: border-box }
body{ height: 100vh; overflow: hidden; }

.overlay{ position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.6); display: flex; align-items: center; justify-content: center; z-index: 10; }
.form-container{ width: 380px; background: #fff; display: flex; justify-content: center; box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.6); border-radius: 3px; overflow: hidden; }

form{ width: 100%; padding: 25px; }
form li{ list-style: none; margin-bottom: 20px; }
form li:last-child{ margin-bottom: 0px; }
form img{ width: 160px; margin: 0px auto 15px auto; display: block; }
form h1{ color: #777; padding-bottom: 15px; font-weight: 400; font-size: 20px; text-align: center; border-bottom: 1px solid #777; }
form small{ margin-top: 10px; display: block; text-align: center; font-size: 14px; color: rgb(211, 65, 65); }
form input.input-field{ width: 100%; padding: 14px 14px 14px 36px; background: #edf2f6; border-radius: 3px; font-size: 14px; color: #777; border: 1px solid transparent; transition: all 0.3s; background-size: 28px; background-repeat: no-repeat; background-position: 4px 10px; }
form input[type="text"]{ background-image: url('../resources/images/user_icon.png'); }
form input[type="password"]{ background-image: url('../resources/images/lock_icon.png'); }
form input[type="email"]{ background-image: url('../resources/images/mail_icon.png'); }
form input.input-field:focus{ border: 1px solid #17a3f8; }
form input.button{ padding: 14px; width: 100%; color: #fff; background: #17a3f8; font-size: 14px; cursor: pointer; transition: all 0.3s; }
form input.button:hover{ box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }
form a.cta{ color: #17a3f8; text-decoration: none; display: block; text-align: right; }

.page-bg{ position: absolute; z-index: 1; top: 0px; left: 0px; right: 0px; bottom: 0px; background-size: cover; }
#p-1{ background-image: url('../resources/images/bg1.jpeg'); }
#p-2{ background-image: url('../resources/images/bg2.jpeg'); }




