*{ margin: 0px; padding: 0px; font-family: Arial; }
body{ width: 100%; height: 100vh; overflow-x: hidden; background: #edf2f6 }    

.clear{ clear: both; }
.clear:after{ display: table; content: ''; clear: both; }
li{ list-style: none; }

header#page-header{ width: 100%; background: #354052; }
#page-header li{ list-style: none; float: left; }
#page-header li a{ padding: 15px 25px; display: inline-block; color: #fff; text-decoration: none; }
#page-header li a:hover{ background: #30394a; }
#page-header li a:before{ color: #fff; margin-right: 6px; font-size: 20px; }

#page{ display: flex; padding: 30px; }
#right, #left{ flex: 1; background: #fff; border: 1px solid #b2b2b2; padding: 25px; }
#right{ margin-left: 15px; }
#left{ margin-right: 15px; }

#registrate-user-form li{ padding: 10px 0px; }
#registrate-user-form label{ display: block; }
#registrate-user-form input{ padding: 8px; width: 200px; }
#registrate-user-form input[type="radio"]{ width: 40px;  }

#users li{ padding: 10px 0px; border-bottom: 1px solid #c6c6c6; position: relative; }
#users li i{ float: right; font-size: 26px; padding: 4px; position: absolute; right: 6px; top: 14px; cursor: pointer; }